<!-- <footer class="site-footer">
  <span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title }}</a> is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span>
</footer> -->

<footer>
	<div class="span-inline">
		{% if site.github_username %}
			<span>
				<a target="_blank" href="https://github.com/{{ site.github_username }}">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-github fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</span>
		{% endif %}
		{% if site.zhihu_username %}
			<span>
				<a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa  fa-stack-1x fa-inverse">知</i>
					</span>
				</a>
			</span>
		{% endif %}
		{% if site.zhihu_username %}
			<span>
				<a target="_blank" href="http://www.jianshu.com/users/{{ site.jianshu_username }}">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa  fa-stack-1x fa-inverse">简</i>
					</span>
				</a>
			</span>
		{% endif %}
	</div>
	<p class="copyright">
		Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
		<br>
		Owned by <a href="https://github.com/panyifei">潘逸飞</a>
	</p>
</footer>
